@import url('index.css');

body {
  background: var(--bg);
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg-wrapper {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--rounding);
}

h1,
h2,
h3 {
  color: var(--neutral);
}

button,
.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--neutral);
}

.primary:hover {
  background-color: var(--hov-primary);
}

.secondary:hover {
  background-color: var(--hov-secondary);
}

.primary,
.primary:active {
  background-color: var(--primary);
  color: #fff;
}

.secondary,
.secondary:active {
  background-color: var(--secondary);
  color: #000;
}

.delete,
.delete:active {
  background-color: var(--delete);
}

.delete:hover {
  background-color: var(--hov-delete);
}

label {
  color: #fff;
}

.input-field {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

input {
  padding: 2px 5px;
}

input:focus-visible {
  outline-color: var(--neutral);
}