/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors and variables */
:root {
  --bg: #1e1e1e;
  --neutral: #e7e7aa;
  --primary: #2d623f;
  --secondary: #95c897;
  --hov-primary: #3b7c51;
  --hov-secondary: #7aae7c;
  --delete: #ff7e7e;
  --padding: 20px;
  --rounding: 15px;
}
