/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* colors and variables */
:root {
  --bg: #1e1e1e;
  --neutral: #e7e7aa;
  --primary: #446943;
  --secondary: #95c897;
  --hov-primary: #385637;
  --hov-secondary: #82ab83;
  --delete: #ff7e7e;
  --hov-delete: #d06b6b;
  --padding: 20px;
  --rounding: 15px;
}
