.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: var(--padding);
    border-radius: var(--rounding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

button.delete {
    padding: 0;
    width: 20px;
    height: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--rounding);
}